body {
  padding-top: 25px;
  padding-bottom: 40px;
  background-image: url(/assets/img/tiny_grid.png);
}
.csa-navbar-inner {
  min-height: 5px;
  max-height: 5px;
}
.csa-center {
  text-align: center;
}
.csa-justify {
  text-align: justify;
}
.csa-margin-reset {
  margin-left: 0px;
}
.container {
  padding: 20px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .5);
  background-color: white;
}
header {
  margin-bottom: 15px;
}
.csa-section {
  border-bottom: 1px solid #ccc;
}
